<div class="row">
  <div class="cols-md-auto">
    <h1>Metrics#add</h1>
  </div>
</div>
<%= form_with url: metrics_update_path, model: @metric do |f| %>
<div class="container">
  <div class="row">
    <div class="cols-md-auto">
      <%= f.label :month %>
    </div>
    <div class="cols-md-auto">
      <%= f.select(:month, Date::MONTHNAMES.each_with_index { |m, i| [m, i] }) %>
    </div>
  </div>
  <% @metrics.each do |metric| %>
    <div class="row">
      <div class="cols">
        <%= metric.name %>
      </div>
      <div class="cols">
        <%= f.send(:text_field, metric.name) %>
      </div>
    </div>
  <% end %>
  <div>
    <%= f.hidden_field :team_id, :value => @team.id %>
  </div>
  <div>
    <%= f.submit %>
  </div>
</div>
<% end %>
