<div class="header">
  <h1><%= @member.first_name + ' ' + @member.last_name %></h1>
</div>
<div class="row">
  <div class="cols-md-auto">
    Name: <%= @member.first_name + ' ' + @member.last_name %><br>
    Title: <%= @member.title.name %><br>
    Location: <%= @member.location.nil? ? "" : @member.location.name %><br>
    Email: <%= mail_to(@member.user.email) %><br>
    <%= link_to("Edit", edit_team_member_path(@member)) %> | <%= link_to("Delete", delete_team_member_path(@member)) %> | <%= link_to("All Members", team_member_index_path) %>
  </div>
</div>
