<h3>Options</h3>
      <div class="nested-fields">
          <%= f.label :text %>
          <%= f.text_area :text %>
          <%= f.label :value %>
          <%= f.text_field :value %>
        <div>
          <%= link_to "Remove", '#', class: "remove_fields" %>
        </div>
      </div>
