<div class="container">
  <div class="row">
    <div class="cols-md-auto">
      <h1>Available Widget Types</h1>
    </div>
  </div>
  <div class="row">
    <div class="cols-md-auto">
      <ul>
        <% @widget_types.sort_by { | t| t.name  }.each do |type| %>
          <li>
            <%= type.name %> <%= link_to("Edit", edit_widget_type_path(type)) %> | <%= link_to("Create Widget", new_widget_path(type)) %> | <%= link_to("Delete", delete_widget_type_path(type)) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="cols-md-auto">
      <%= link_to("Add Widget Types", add_widget_types_path) %>
    </div>
  </div>
</div>

Widgets <% BaseWidget.new.all_widgets.each do |widget| %>
  <%= widget.name %><br>
<% end %>
