<div class="container">
  <div class="row justify-content-md-left">
    <div class="cols-md-auto">
      <h1>Organization: <%= @org.name %></h1>
      <%= link_to("Add Child Org", add_organization_path(@org)) %> | <%= link_to("Edit", edit_organization_path(@org)) %>
    </div>
    <div>
      <%= form_with url: generate_dashboards_path, model: @dashboard do |f| %>
        <div>
          <%= f.label :dashboard %><br>
          <%= f.select :dashboard_id, Dashboard.all.collect { |d| [d.name, d.id] }, include_blank: false %>
        </div>
        <div>
          <%= f.hidden_field :organization_id, :value => @org.id %>
        </div>
        <div>
          <%= f.submit("Generate Dashboards") %>
        </div>
      <% end %>
    </div>
    <div class="cols-md-auto">
    </div>
  </div>
  <div class="row">
    <div class="cols-md-auto">
      Child Orgs
    </div>
    <div class="cols-md-autp">
      Team Members
    </div>
  </div>
  <div class="row">
    <div class="cols-md-auto">
    <ul>
      <% @org.organizations.each do |child| %>
        <li>
          <%= link_to(child.name, organization_path(child)) %>
        </li>
      <% end %>
    </ul>
    </div>
    <div class="cols-d-auto">
      <% @org.organization_roles.each do |role| %>
        <ul>
            <li>
              <%= role.team_member.first_name %> <%= role.team_member.last_name %> <%= role.team_member.title.name %> - <%= role.role.name %>
            </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="cols">
      <h3>Metrics</h3>
    </div>
    <div class="cols">
      <%= link_to('Add Metrics', add_metrics_path(@org)) %>
    </div>
  </div>
  <div class="row">
    <div class="cols">
      <ul>
        <% @org.metrics.each do |metric| %>
        <li>
          (<%= metric.period_start %>) <%= metric.metric_type.name %>: <%= metric.value %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="cols">
      <%= form_tag import_metrics_path, multipart: true do %>
        <div>
          <%= file_field_tag :file %>
          <%= submit_tag "Import CSV" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
