<div class="container">
  <div class="row justify-content-md-left">
    <div class="cols-sm-2">
      <h1>Organization: <%= @org.name %></h1>
      <%= link_to("Add Child Org", add_organization_path(@org)) %> | <%= link_to("Edit", edit_organization_path(@org)) %>
    </div>
  </div>
  <div class="row">
    <% unless @org.organizations.empty? %>
      <div class="col">
        <h3>Teams</h3>
        <ul>
          <% @org.organizations.each do |child| %>
            <li>
              <%= link_to(child.name, organization_path(child)) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col">
      <h3>Members</h3>
      <% @org.organization_roles.each do |role| %>
        <ul>
            <li>
              <%= role.team_member.first_name %> <%= role.team_member.last_name %> <%= role.team_member.title.name %> - <%= role.role.name %>
            </li>
        </ul>
      <% end %>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col">
        <%= form_with url: generate_dashboards_path, model: @dashboard do |f| %>
          <div>
            <b><%= f.label :dashboard_template %></b><br>
            <%= f.select :dashboard_id, Dashboard.all.collect { |d| [d.name, d.id] }, include_blank: false %>
          </div>
          <div>
            <%= f.hidden_field :organization_id, :value => @org.id %>
          </div>
          <div>
            <%= f.submit("Generate Dashboards") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Metrics</h3>
    </div>
    <div class="col">
      <h3>Targets</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with url: update_organization_metric_types_path, model: @org do |f| %>
        <div>
          Selected Tracking Metrics<br>
          <%= f.select(:metric_type_ids, MetricType.all.collect { |t| [t.name, t.id] }, {  }, { :multiple => true, :size => 5 } ) %>
        </div>
        <div>
          <%= f.hidden_field :organization_id, :value => @org.id %>
        </div>
        <div>
          <%= f.submit('Track') %>
        </div>
      <% end %>
    </div>
    <% unless @org.metric_types.empty? %>
      <div class="col">
        <%= form_with url: set_organization_metric_defaults_path, model: @org do |f| %>
          <ul>
            <% @org.metric_types.each do |metric| %>
              <li><b><%= metric.name %></b></li>
              <ul>
                <% metric.target_types.each do |type| %>
                  <% org_metric_type = OrganizationMetricType.where(organization_id: @org.id, metric_type_id: metric.id)[0] %>
                  <li>
                    <%= type.name %><br>
                    <% if type.method =~ /manual/i %>
                      <%= f.text_field(org_metric_type.id.to_s.to_sym, :value => org_metric_type.value) %>
                    <% else %>
                      <i>Calculated</i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </ul>

          <div>
            <%= f.hidden_field :organization_id, :value => @org.id %>
          </div>
          <div>
            <%= f.submit('Set Defaults') %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to('Add Metrics', add_metrics_path(@org)) %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_tag import_metrics_path, multipart: true do %>
        <div>
          <%= file_field_tag :file %>
          <%= submit_tag "Import CSV" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

