<h1><%= @widget_type.name %></h1>
<p>
  <%= @widget_type.description %>
</p>
<%= form_with url: widgets_path, model: @widget do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field(:name, :value => @widget.name) %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area(:description, :value => @widget.description) %>
  </div>
  <div>
    <%= f.hidden_field :id, :value => @widget.id %>
    <%= f.hidden_field :widget_type_id, :value => @widget_type.id %>
  </div>
  <% @configs.each do |config| %>
      <%= render(config.dashboard_widget_config_type.partial_name, config: config, id: config.value, f: f) %>
  <% end %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
