<div class="container">
  <div class="row">
    <div class="cols">
      <h1><%= @widget.name %></h1>
      <%= @widget.description %><br>
      Type: <%= @widget.widget_type.name %>
      <ul>
        <% @widget.widget_configs.each do |config| %>
          <li>
            <%= config.dashboard_widget_config_type.name %> - <%= config.value %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

