<div class="container">
  <div class="row">
    <div class="cols">
      <h1><%= @widget.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Configuration</h3>
      <%= @widget.description %><br>
      Type: <%= @widget.widget_type.name %><br>
      <%= link_to("Preview", preview_widget_path(@widget)) %> | <%= link_to("Edit", edit_widget_path(@widget)) %>
      <ul>
        <% @config.each do |name, value| %>
          <% next if value.nil? %>
          <li>
            <%= name %> - <%= value %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="container">
      <h3>Preview</h3>
      <%= render(@widget.widget_type.partial, widget: @widget) %>
    </div>
  </div>
</div>

