<%= form_with url: metric_types_path, model: @metric_type do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field(:name, :value => @metric_type.name) %>
  </div>
  <div>
    <%= f.label :label %><br>
    <%= f.select :label, ["Calculated", "Manual"], include_blank: false, selected: @metric_type.label %>
  </div>
  <div>
    <%= f.label :aggregation_method %><br>
    <%= f.select :aggregation_method, ["Sum", "Average"], include_blank: false, selected: @metric_type.aggregation_method %>
  </div>
  <div>
    <%= f.label :target_types %><br>
    <%= f.select(:target_type_ids, TargetType.all.collect { |t| [t.name, t.id] }, {  }, { :multiple => true, :size => 5 } ) %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area(:description, :value => @metric_type.description) %>
  </div>
  <div>
    <%= f.hidden_field :id, :value => @metric_type.id %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
