<% div_id = "comments_table_" + widget.id.to_s %>
<div class="table-responsive" id="<%= div_id %>">
  <% data = widget.generate %>
  <div class="row">
    <% data.keys.each do |questionnaire| %>
      <div class="col">
          <b><%= questionnaire %></b>
      </div>
      <% data[questionnaire].sort_by{ |r| r.period_start }.reverse.each do |response| %>
        <div class="row-cols-8">
          <div class="col-auto"><b><%= response.team_member.first_name %> <%= response.team_member.last_name %></b></div>
          <div class="col-auto"><%= response.period_start %></div>
          <div class="col"><%= response.value %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
