<% div_id = "table_" + widget.id.to_s %>
<div id="<%= div_id %>">
  <% response_data = widget.generate %>
  <% response_data.each do |data| %>
    <% next if data['response_count'].nil? %>
    <div class="row" >
      <div class="cols-*">
        <h3><%= data['questionnaire'].name %></h3>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <% data[data.keys[0]].keys.sort.each do |month| %>
            <th scope="col">
              <%= month %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% data['questionnaire'].questions.each do |question| %>
          <% next if data[question.id].nil? %>
          <tr>
            <th scope="row">
              <%= question.text %>
            </th>
            <% data[question.id].keys.sort.each do |month| %>
              <td align="center">
                <%= data[question.id][month]['average'].round(1) %>
              </td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <th scope="row">
            Response Count
          </th>
          <% data['response_count'].keys.sort.each do |month| %>
            <td align="center">
              <%= data['response_count'][month] %>
            </td>
          <% end %>
        </tr>
        <tr>
          <th scope="row">
            Response Rate
          </th>
          <% data['response_rate'].keys.sort.each do |month| %>
            <td align="center">
              <%= data['response_rate'][month].round(1) %>%
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
