<% div_id = "table_" + widget.id.to_s %>
<div id="<%= div_id %>">
  <% data = widget.generate %>
  <% col_count = data.count + 1 %>
  <div class="row row-cols-<%= col_count %> align-items-start">
    <div class="col"></div>
    <% data.keys.sort.each do |month| %>
      <div class="col">
        <%= month %>
      </div>
    <% end %>
  </div>
  <% key = data.keys[0] %>
  <% unless data[key].nil? %>
    <% data[key].keys.sort { |a,b| a <=> b }.each do |metric| %>
      <div class="row row-cols-<%= col_count %>">
        <div class="col">
          <%= metric %>
        </div>
        <% data.keys.sort.each do |month| %>
          <div class="col">
            <%= data[month][metric]['type'].aggregation_method =~ /sum/i ? data[month][metric]['values'][0].to_s : data[month][metric]['values'][0].to_s + '%' %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
