<!DOCTYPE html>
<html>
  <head>
    <title>Teamhealth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Team Health</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <% if current_user %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: "delete" %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path%>
        <% end %>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-1 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to('Role Config', role_index_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to('Org Type Config', organization_type_index_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to('Organizations', organization_index_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to('Titles', title_index_path, class: "nav-link") %>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-11 px-4">
        <%= yield %>
      </main>

    </div>
    </div>
  </body>
</html>
